@model Attendance.Web.Areas.Admin.Models.SetupViewModel
@{
    ViewBag.Title = "Course Allocation";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="element-wrapper">
    @if (TempData["Message"] != null)
    {
        @Html.Partial("_Message", (Attendance.Model.Model.Message)TempData["Message"])
    }

    <div class="element-box-tp">
            <h5 class="form-header">Allocate Courses</h5>

            <div class="element-box-tp">
                <div class="controls-above-table">
                    <div class="row">
                        <div class="col-sm-6">
                            <a class="btn btn-sm btn-secondary" href="#" onclick="allocateCourse();">Allocate Course</a>
                        </div>
                    </div>
                </div>
                @if (Model != null && Model.StaffCourseList != null && Model.StaffCourseList.Count > 0)
                {
                    <div class="table-responsive">
                        <span id="loading" style="display:none"><img src="~/Content/images/loading.gif" width="40px" /></span>
                        <table class="table table-bordered table-lg table-v2 table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        SN
                                    </th>
                                    <th>Course Code</th>
                                    <th>Programme</th>
                                    <th>Level</th>
                                    <th>Department</th>
                                    <th>Lecturer</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.StaffCourseList.Count; i++)
                                {
                                    var sn = i + 1;
                                    <tr>
                                        <td class="text-center">
                                            @sn
                                        </td>
                                        <td class="text-center">@Model.StaffCourseList[i].COURSE.Code</td>
                                        <td class="text-center">@Model.StaffCourseList[i].COURSE.PROGRAMME.Name</td>
                                        <td class="text-center">@Model.StaffCourseList[i].COURSE.LEVEL.Name</td>
                                        <td class="text-center">@Model.StaffCourseList[i].COURSE.DEPARTMENT.Name</td>
                                        <td class="text-center">@Model.StaffCourseList[i].STAFF.PERSON.Last_Name @Model.StaffCourseList[i].STAFF.PERSON.First_Name @Model.StaffCourseList[i].STAFF.PERSON.Other_Name</td>
                                        @if (Model.StaffCourseList[i].COURSE.Active)
                                        {
                                            <td class="text-center">
                                                <div class="status-pill green" data-title="Active" data-toggle="tooltip"></div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="text-center">
                                                <div class="status-pill red" data-title="Not Active" data-toggle="tooltip"></div>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

            </div>
        </div>
</div>

<div aria-hidden="true" aria-labelledby="mySmallModalLabel" class="modal fade bd-example-modal-sm" role="dialog" tabindex="-1" id="allocateCourseModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Allocate Course</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="course"> Course</label>
                        <select class="form-control" id="course" required="required">
                            @{
                                var courses = (List<SelectListItem>)ViewBag.Courses;
                            }
                            @for (int i = 0; i < courses.Count(); i++)
                            {
                                <option value="@courses[i].Value">@courses[i].Text</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="staff"> Lecturer</label>
                        <select class="form-control" id="staff" required="required">
                            @{
                                var staff = (List<SelectListItem>)ViewBag.Staff;
                            }
                            @for (int i = 0; i < staff.Count(); i++)
                            {
                                <option value="@staff[i].Value">@staff[i].Text</option>
                            }
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <a class="btn btn-primary" onclick="saveAllocation()" style="color:white">Allocate</a>
                <span id="postLoadingAdd" style="display:none"><img src="~/Content/images/bx_loader.gif" width="20px" /></span>
            </div>
        </div>
    </div>
</div>

<script>
    
    function allocateCourse() {
        $('#allocateCourseModal').modal('show');
    }

    function saveAllocation() {

        $("#postLoadingAdd").show();
        
        var courseId = $("#course option:selected").val();
        var staffId = $("#staff option:selected").val();

        if (!courseId || !staffId) {
            swal("Oops!", "Missing parameter", "error");
            $("#postLoadingAdd").hide();
            return;
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("AllocateCourse", "Setup")',
            dataType: 'json',
            data: { courseId: courseId, staffId: staffId },
            success: function (result) {
                    if (result.IsError == false) {
                        swal("Success!", result.Message, "success");
                        location.reload(true);
                    } else {
                        swal("Attention!", result.Message, "error");
                        $("#postLoadingAdd").hide();
                    }
            },
            error: function (ex) {
                swal("Oops!", "Something went wrong " + ex.statusCode, "error");
                $("#postLoadingAdd").hide();
            }
        });
    }
    
</script>